<h1>My Notes</h1>
<h2> <%= link_to "New Note", new_note_path, class: "js-new-note" %></h2>

<div id="new-note">
</div>

<hr></hr>

<div class="notes-block">
<% @notes.reverse.each do |note| %>
  <div id="note-<%= note.id%>">
    <h2> <%= note.id %>. <%= note.title %> <%= link_to "View", note_path(note), class: "js-get-note" %> </h2>
    <br/>
  </div>
<% end %> 
</div>

<script id="indexNoteTemplate" type="text/x-handlebars-template">
  <div class="note-template-js" id="note-{{id}}">
    <h2>{{id}}. {{title}} </h2>
    <p class="note-content">{{content}}</p>
    <div class="inline-button">
      <a href="/notes/{{id}}/edit" class="btn btn-sm btn-primary js-edit-note" id="edit-note-{{id}}">Edit</a>
    </div>
    <div class="inline-button"> 
      <form class="button_to" method="post" action="/notes/{{id}}">
        <input type="hidden" name="_method" value="delete" />
        <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>   
    </div>
    <div class="line-light"></div>
  </div>
</script>

<script id="newNoteTemplate" type="text/x-handlebars-template">
  <form class="new_note create-note" id="new_note" action="/notes" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group"> 
      <input placeholder="Title" class="form-control" type="text" name="note[title]" id="note_title">
    </div>
    <div class="form-group">  
      <textarea class="note-text-field form-control" rows="3" name="note[content]" id="note_content"></textarea>
    </div>  
    <div class="form-group">
      <input type="submit" name="commit" value="Create Note" class="btn btn-primary" />
    </div>
  </form>
</script>

<script id="showNoteTemplate" type="text/x-handlebars-template">
  <div class="note-template-js" id="note-{{id}}">
    <h2>{{id}}. {{title}} <a href="notes/{{id}}" class="js-get-note">View</a></h2> 
    <br/>
  </div>
</script>

<script id="editNoteTemplate" type="text/x-handlebars-template"> 
  <form class="edit_note save-note" id="edit_note_{{id}}" action="/notes/{{id}}" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="_method" value="patch" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group"> 
      <input placeholder="Title" class="form-control" type="text" name="note[title]" id="note_title">
    </div>
    <div class="form-group">  
      <textarea class="note-text-field form-control" rows="3" name="note[content]" id="note_content"></textarea>
    </div>  
    <div class="form-group">
      <input type="submit" name="commit" value="Update Note" class="btn btn-primary" />
    </div>
  </form>
</script>